{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="text-center">
        <h1> Your wz </h1>

        <hr>
        <section>
            <ul>
                {% for w in wz %}
                <li>
                    <div class="card text-white bg-info bg-gradient">
                        <a class="card-title m-1" href="{{ w.learn_url }}"> {{ w.name }}</a>
                    </div>

                </li>
                {% endfor %}

            </ul>
        </section>

    </main>
{% endblock %}